
{{> default/header}}

<body>
{{> default/top-navigation}}
<! -- Navigation Bar-->



<!-- Page -->
<!-- Container centers everything on the page -->
<div class = "container">

    <!-- Getting rendered from index file -->
    {{{body}}}

</div>
<!--/.container-->
{{>default/footer}}

